*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8EDE3;
}
.contenedor{
    width: 100vw;
    height: 300vh;
}
.contenedorArriba{
    width: 100vw;
    height: 100vh;
}
.contenedorMedio{
    width: 100vw;
    height: 100vh;
    background-color: #A2B29F;
    color: #F8EDE3;
}
.contenedorAbajo{
    text-align: center;
    color:#798777;
    width: 100vw;
    height: 100vh;
}
/* Contendor Arriba */
.listaNavegacion{
    width: 100vw;
    height: 10%;
    background-color: #798777;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.itemsListaNavegacion{
    font-size: x-large;
    display: flex;
    color: #F8EDE3;
    width: 100%;
    text-align: center;
}
.itemLista1{
    color: #F8EDE3;;
    width: 33%;
}
.itemLista2{
    width: 33%;
}
.itemLista3{
    width: 34%;
}
.presentacion{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoUniversidad{
    width: 50%;
}
.nombre{
    background-color: #798777;
    font-size: xx-large;
    text-align: center;
    width: 30% ;
    border-radius: 30px;
    color: #BDD2B6;
}
/* Contenedor Medio */
.contenedorArribaDeMedio{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoPerfil{
    width: 50%;
}
.bibliografia{
    font-size: x-large;
    width: 40%;
}
.contendorAbajoDeAlMedio{
    height: 50%;
    display: flex;
}
.contenedorIzquierdaDeAbajo{
    width: 50%;
    height: 100%;
}
.contenedorlistaLenguajes{
    display: flex;
    margin-left: 10%;
    width: 50%;
    height: 90%;
}
.lenguaje{
    font-size: x-large;
    text-align: center;
    height: 10%;
}
.contenedorlistaLenguajes img{
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
}
.contenedorDerechaDeAbajo{
    width: 50%;
    text-align: center;
    font-size: x-large;
    
}
.fechaCumpleanios{
    height: 10%;
}
.fotoCumpleanios{
    margin-left: 30%;
    width: 50%;
    height: 90%;
}
.fotoCumpleanios img{
    border-radius: 20px;
    border: 1px solid black
}
/*  Contenedor Abajo */
.proyecto{
    height: 10%;
}
.proyectos{
    height: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large
}
.itemProyectos1{
    width: 50%;
}

.itemProyectos2{
    width: 50%;
}
.footer{
    height: 10%;
    text-align: center;
}
.btn{
    
    background: #D0C9C0;
    background-image: -webkit-linear-gradient(top, #D0C9C0, #D0C9C0);
    background-image: -moz-linear-gradient(top, #D0C9C0, #D0C9C0);
    background-image: -ms-linear-gradient(top, #D0C9C0, #D0C9C0);
    background-image: -o-linear-gradient(top, #D0C9C0, #D0C9C0);
    background-image: linear-gradient(to bottom, #D0C9C0, #D0C9C0);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #5F7161;
    font-size: 20px;
    padding: 1px 3px 3px 3px;
    text-decoration: none;

}
.btn:hover{
    background: #3D8361;
    background-image: -webkit-linear-gradient(top, #3D8361, #3D8361);
    background-image: -moz-linear-gradient(top, #3D8361, #3D8361);
    background-image: -ms-linear-gradient(top, #3D8361, #3D8361);
    background-image: -o-linear-gradient(top, #3D8361, #3D8361);
    background-image: linear-gradient(to bottom, #3D8361, #3D8361);
    text-decoration: none;
    color:white;

}
@media (max-width: 450px){
   *{
    font-size: small
   }
   .nombre{
    font-size: small;
   }
}